@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] { display: none !important; } 
:root {
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
}

@theme inline {
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
 
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}